
".source.js, .source.jsx, .source.ts, .source.tsx":
  "Module Import":
    prefix: "req"
    body: "const ${1:name} = require('${1:name}')"
  "Module Export":
    prefix: "mod"
    body: "module.exports = ${1}"
  "Function":
    prefix: "fn"
    body: """
    function ${1:name} (${2}) {
      ${3}
    }
    """
  "ES6 Import":
    prefix: "i"
    body: "import { ${1:name} } from \'${2:dep}\'"
  "ES6 Export":
    prefix: "e"
    body: "export ${1}"
  "Class":
    prefix: "class"
    body: """
    class ${1:className} {
      constructor() {
        ${2}
      }
    }
    """
  "Promise":
    prefix: "p"
    body: """
    new Promise ((resolve, reject) => {
      ${1}
    })
    """
  "console.log":
    prefix: "cl"
    body: "console.log(${0})"
  "console.error":
    prefix: "ce"
    body: "console.error(${0})"
  "console.warn":
    prefix: "cw"
    body: "console.warn(${0})"
