'.source.js':
  'Polymer Function':
    'prefix': 'poly'
    'body': '''Polymer( \'$1\', {

            ready: function() {
                $2console.log( 'component ready' );
            }

        });
    '''
