'.source.js':
  'react class base':
    'prefix': 'react'
    'body': '''import React from 'react'

        export default class {$1:classname} extends React.Component {
            constructor( props ) {
                super( props )

                $2
            }

            render() {
                return (
                    <div>
                        { this.props.children }
                    </div>
                )
            }
        }
    '''
