'.source.js':
  'Remark Comment':
    'prefix': 'rm'
    'body': """
    /**
     * $1
     */
    $2
    """

'.source.less':
  'Remark Comment':
    'prefix': 'rm'
    'body': """
    /**
     * $1
     */
    $2
    """

'.source.css':
  'Remark Comment':
    'prefix': 'rm'
    'body': """
    /**
     * $1
     */
    $2
    """

'.source.js':
  'Large Remark':
    'prefix': 'remm'
    'body': """
    /*-----------------------------------------------------------*\\\\
     *
     *  $1
     *
    \\\\*-----------------------------------------------------------*/
    $2
    """
