'.source.js':
  'Remark Comment':
    'prefix': 'rem'
    'body': '/**\n * $1\n */'

'.source.less':
  'Remark Comment':
    'prefix': 'rem'
    'body': '/**\n * $1\n */'

'.source.css':
  'Remark Comment':
    'prefix': 'rem'
    'body': '/**\n * $1\n */'

'.source.js':
  'Remark Comment':
    'prefix': 'remm'
    'body': '''
    /*-----------------------------------------------------------*\
     *
     *  $1
     *
    \*-----------------------------------------------------------*/
    $2
    '''
