'.source.js':
  'Remark Comment':
    'prefix': 'rm'
    'body': """
    /**
     * $1
     */
    $2
    """

'.source.less':
  'Remark Comment':
    'prefix': 'rm'
    'body': '/**\n * $1\n  */'

'.source.css':
  'Remark Comment':
    'prefix': 'rm'
    'body': '/**\n * $1\n  */'

'.source.js':
  'Remark Comment':
    'prefix': 'remm'
    'body': """
    /*-----------------------------------------------------------*\
     *
     *  $1
     *
    \\*-----------------------------------------------------------*/
    $2
    """
