'.source.rust':
  'extern crate':
    'prefix': 'ec'
    'body': 'extern crate ${1:name};'

  'console log':
    'prefix': 'cl println'
    'body': 'println!("$1");'

  'write':
    'prefix': 'wr write'
    'body': 'write!("$1");'
